spring:
  sql:
    init:
      mode: always
      encoding: UTF-8

  datasource:
    url: jdbc:postgresql://localhost:5432/conflicDB
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    #database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create

    defer-datasource-initialization: true